<!DOCTYPE html>
<html lang="en" appunwraptag="">
<!-- begin::Head -->

<head>
	<meta charset="utf-8" />
	<title>
		Spring Cloud配置中心
	</title>
	<base href="/admin">
	<meta name="description" content="Latest updates and statistic charts">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="./assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
	<link href="./assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
	<link href="./assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="assets/demo/default/media/img/logo/favicon.ico" />
<link rel="stylesheet" href="styles.dd73072b0d95fa54ff6f.css"></head>
<div class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
	<div class="m-blockui">
		<span>
			Please wait...
		</span>
		<span>
			<div class="m-loader m-loader--brand"></div>
		</span>
	</div>
</div>

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"><script type="text/javascript" src="runtime.0fba4cc5723d84fc8625.js"></script><script type="text/javascript" src="polyfills.c7919b0abe43d3162815.js"></script><script type="text/javascript" src="main.e599e9f132a6b6c10a6b.js"></script></body>

</html>